/* Web Development FINAL PROJECT Website for a business */
/* External style sheet. All html pages are contained within this same css style page */
/* HOME SECTION */
/* Navbar Styling */
/* Bootstrap settings were completely changed and navbar was revamped for my needs */
.navbar-elements .navbar-items, .navbar-items a {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    margin: 10px;
    color:rgb(156, 156, 156);
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
}
/* Changing padding of navbar for desktop view */
.navbar-collapse {
    padding-left: 255px;
}
/* Creating scale and color effect on hover of navbar elements */
.navbar-items a:hover, .carousel-interactivity i:hover {
    transform: scale(1.1);
    color: black;
}
/* navbar element itself styling with color background */
.navbar-elements {
    margin: 0;
    padding: 0;
    background-color: white;
}
/* END NAVBAR Styling */
/* Video Section of Homepage, styling the video, positioning it and styling and positioning the interactivity part next to video */
.video-wrapper .card {
    border: none;
}
.video-wrapper h1, .video-wrapper a {
    padding-top: 70px;
    padding-bottom: 70px;
}
/* Styling the list of text that appears next to video */
.video-wrapper ul {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-left: -40px;
}
/* Making anchors clickable area a bit larger by padding */
.video-wrapper a {
    padding: 10px;
}
/* Adding transition effect to icons next to the video */
.video-interactivity i {
    color: black;
    transition: color 0.3s ease;
}
/* Adding hover effect when hovering over icons */
.video-wrapper a:hover i {
    color:#6d6d6d
}
/* Setting the video dimensions for desktop view */
video {
    width: 60%;
    height: 60%;
}
/* END VIDEO SECTION */
/* Services Section Homepage */
/* Styling and modifying the bootstrap cards to my needs from the homepage services section, also adding effects to images and hover*/
.services-image-container {
    padding: 90px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 150px;
}
.services-image-container .card {
    color: white;
    border: none;
    text-align: center;
}
/* Setting a max width to bootstrap cards to avoid issues with them looking strange on big screens */
.services-image-container .card-body-text {
    max-width: 510px;
}
/* Displaying them on the center of the column */
.services-image-container .card-body {
    display: flex;
    justify-content: center;
}
/* Applying a transition filter for images, when hovering over the image container */
.services-image {
    transition: filter 0.5s ease;
}
.image-container:hover .services-image {
    filter: opacity(50%);
}
/* Setting the button position absolute to its parent element */
.services-section-button {
    position: absolute;
    margin-top: -90px;
}
/* END SERVICES SECTION */
/* Popular Service Section Homepage */
/* Styling the bootstrap card for the most popular service section */
.popular-service-section {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
/* Adding a transition effect for when the image of this card is hovered */
.popular-service-section img {
    transition: filter 0.5s ease;
}
.popular-service-section img:hover {
    filter:sepia(50%);
}
/* END POPULAR SERVICE */
/* Testimonials Section Homepage */
/* Styling the div of the bootstrap cards and the bootstrap cards themselves */
.testimonials-section-wrapper {
    background-color: rgba(255, 227, 227, 0.922);
    padding: 100px;
}
/* Setting different colors and height to first and third card only */
.testimonial-first-col, .testimonial-third-col {
    background-color: white;
    height: 600px;
}
.testimonials-section-wrapper .card {
    border: none;
}
.testimonials-section-wrapper .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
/* Adding the content required and styling in for the second bootstrap card which is empty within the html file */
.testimonial-second-col .card-body::before {
    content: "“";
    font-size: 220px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 100px;
}
/* Testimonial slideshow / Third card*/
/* The dots/bullets */
/* Dots styling were taken from https://www.w3schools.com/howto/howto_js_slideshow.asp */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* END TESTIMONIALS SECTION */
/* Looks Section with photos on Homepage and Portfolio page */
/* This styles the text before the images */
.looks-presentation {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* Styling the bootstrap cards */
.looks-wrapper .card {
    position: relative;
    align-items: center;
}   
/* Styling and hiding the card body by default */
.looks-wrapper .card-body {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 1em;
    text-align: center;
    display: none;
}
/* Making the body visible only when hovering over the card itself */
.looks-wrapper .card:hover .card-body {
    display:block;
}
/* Applying a transition effect to the image for when hovering the cards */
.looks-wrapper img {
    transition: filter 0.3s ease;
}
.looks-wrapper .card:hover img {
    filter: blur(3px) opacity(90%);
}
/* END LOOKS SECTION */
/* FOOTER SECTION */
/* This section is used in all pages for footer styling */
.footer-wrapper {
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 1.2em;
}
.footer-wrapper col {
    position: relative;
}
.footer-wrapper .footer-col1-end {
    padding-top: 100px;
}
.footer-wrapper ul, .services-wrapper ul {
    list-style: none;
}
.footer-wrapper li {
    padding-bottom: 10px;
}
.footer-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-wrapper a:hover {
    color: #717171;
}
.footer-sec-4, .footer-sec-3 {
    text-align: center;
}
/* END FOOTER STYLING */
/* ABOUT & CONTACT PAGE And partial SERVICE page */
/* Using the same code for both about and contact page in some instances */
.about-card-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}
.about-card-wrapper .card, .contact-wrapper .card {
    border: none;
}
.about-card-wrapper .g-0 {
    align-items: center;
}
/* Setting up the styling for both about paragraphs and contact wrapper in the same time */
.about-wrapper .about-paragraphs, .contact-wrapper {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
/* Setting up the padding for h1 in both pages */
.about-paragraphs h1, .contact-wrapper h1 {
    padding-bottom: 20px;
}
/* Setting the font in 3 pages, the about page, contact page and service page */
.about-wrapper, .contact-wrapper, .services-wrapper {
    font-family: Garamond;
    font-size: 1.14em;
}
.contact-wrapper .contact-paragraphs {
    display: flex;
    justify-content: center;
}
.contact-wrapper .contact-text {
    width: 34em;
}
/* Styling the anchor of contact page and effect when hovered */
.contact-wrapper .bg-dark, .contact-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
.contact-wrapper a:hover {
    color: rgb(191, 191, 191);
}
/* Rest of contact styling */
.contact-wrapper .h-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-wrapper .contact-times {
    background-color: rgba(255, 227, 227, 0.922);
}
.contact-form button {
    width: 100px;
    margin: 50px;
}
/* Google maps styling needed for my needs */
.google-map {
    position: relative;
    padding-bottom: 450px;
}
.google-map iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 450px;
}
/* END ABOUT & CONTACT PAGE */
/* Services PAGE */
.services-wrapper {
    text-align: center;
}
/* Styling the list elements */
.services-wrapper .services-list ul {
    display: flex;
    justify-content: center;
}
.services-wrapper li {
    background-color: white;
    padding: 10px;
}
.services-wrapper li {
    border-bottom: 2px solid rgba(255, 227, 227, 0.922);;
    padding: 10px;
    cursor: pointer;
}
/* This is also used in javascript to apply the needed class */
/* Styling the currently selected list element for a small visual effect */
.services-list .clicked {
    border-bottom: 5px solid rgba(255, 227, 227, 0.922);;
}
.services-list li.clicked {
    transition: border-bottom 0.3s ease-in-out;
}
/* Styling the card description of the services */
.services-wrapper .services-description {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.services-wrapper .card {
    width: 40em;
    border: none;
}
/* Styling the video from the first card */
.services-wrapper video {
    width: 100%;
    height: 100%;
}
.services-description {
    display: flex;
}
.services-description .row {
    align-items: center;
}
.services-description p {
    padding-bottom: 40px;
}
/*Required for the javascript to work as wanted, within Services page and when the page initially loads, to hide one of the two divs */
.services-wrapper .active-service {
    display: flex;
}
.services-wrapper .nonactive-service {
    display: none;
}
/* END SERVICES PAGE */
/* PORTFOLIO PAGE */
/* Setting up a 3D background effect */
.portfolio-background {
    background-image: url("../assets/images/portfolio/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: -750px;
    background-size: cover;
}
/* Carousel Section from Portfolio page*/
.carousel-wrapper {
    margin-top: 0;
    position: relative;
    margin-bottom: 50px;
    background-color: white;
    margin-bottom: 1000px;
    text-align: center;
}
/* Part of the code for this carousel is taken from https://www.w3schools.com/howto/howto_js_slideshow.asp and adjusted for my page view */
/* More specifically, the prev, next and next css code + my-slides and fadee */
.prev, .next {
    position: absolute;
    top: 0;
    cursor: pointer;
    width: auto;
    padding: 10px;
    color: black;
    transition: 0.6s ease, transform 0.5s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    display: block;
    margin-top: -22px;
}
.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}
.prev:hover, .next:hover {
    transform: scale(1.3);
}
.my-slides, .my-slides-testimonials {
    display: none;
    position: relative;
}
.fadee {
    animation-name: fade;
    animation-duration: 1.5s;
}
/* Styling the interactivity of the carousel which are the dots */
/* The dot class is also indirectly styled for portfolio page, from within Homepage CSS code */
.carousel-interactivity {
    position: absolute;
    right: 200px;
    max-width: 200px;
    top: 45%;
}
.carousel-interactivity ul {
    list-style: none;
}
.carousel-interactivity li {
    padding-bottom: 20px;
}
/* Previous and next button position styling */
#previous, #nextbutton {
    height: 1700px;
    display: flex;
    align-items: center;
    padding: 50px;
}
/* Image sizing for desktop view */
.carousel-wrapper img {
    width: 50%;
}
/* Cursor styling for when cursor is over the images cards from portfolio page */
.clickable-image, .clickable-image .card-body {
    cursor: pointer;
}
/* MODAL from PORTFOLIO / SLIDESHOW INSIDE MODAL */
/* Here is were I am completely revamping the modal from bootstrap */
#staticBackdrop .modal-content {
    background-color: rgba(255, 255, 255, 0.208) !important;
    text-align: center;
    position: relative;
    height: 100%;
    backdrop-filter: blur(5px);
}
/* This will ensure images are never bigger than the client screen size */
#staticBackdrop img {
    max-width: 100vw;
    max-height: 100vh;
}
/* Main closing button styling */
#staticBackdrop .btn-close {
    position: absolute;
    top: 5%;
    right: 2%;
    /*Button was getting under the img element, needed for functionality */
    z-index: 99;
}
/* Secondary button styling */
#staticBackdrop .btn-secondary {
    position: absolute;
    top: 94%;
    right: 1%;
}
/* Slides and the text styling */
#staticBackdrop .modal-slides {
    width: 100%;
}
#staticBackdrop .modal-slide {
    position: relative;
    display: none;
}
#staticBackdrop .modal-slide-text {
    position: absolute;
    max-width: 300px;
    top: 40%;
    right: 3%;
    color: white;
}
/* Making the modal full size according to screen size */
#staticBackdrop .modal-dialog {
    width: 100%;
    max-width: none;
}
#staticBackdrop .modal-body {
    height: 100%;
    padding: 0;
}
/* Styling previous and next buttons within the modal slideshow */
#staticBackdrop .modal-prev, #staticBackdrop .modal-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: auto;
    padding: 10px;
    color: black;
    transition: 0.6s ease, transform 0.5s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    display: block;
    margin-top: -22px;
    /*needed to raise buttons above images and modal*/
    z-index: 99;
}
#staticBackdrop .modal-next {
    right: 0;
}
/* Adding hover effect to the prev and next buttons */
#staticBackdrop .modal-next:hover, #staticBackdrop .modal-prev:hover {
    transform: scale(1.2);
}
/* Laptop normal screen */
/* This is needed because I developed the website from a 27 inch desktop screen which is nearly double 
the size of a laptop screen thus part of the website on laptop screen needed adjusting after completing it on 27 inch screen */
@media screen and (max-width: 1600px) {
    /*Decreasing padding for navbar to keep it in middle of screen */
    .navbar-elements .navbar-collapse {
        padding-left: 260px;
    }
    /* Portfolio part for laptop view */
    /* Adjusting parts of the portfolio carousel for laptop screen view */
    .carousel-wrapper #previous, .carousel-wrapper #nextbutton {
        height: 900px !important;
        padding: 0 !important;
    }
    .carousel-wrapper .carousel-item img {
        width: 47% !important;
    }
    .carousel-wrapper .carousel-interactivity {
        right: 10%;
        top: 38%;
    }
    .portfolio-background {
        background-position-y: -400px !important;
    }
    .carousel-wrapper {
        margin-bottom: 500px !important;
    }
}
/* VIEW IN BETWEEN DESKTOP AND TABLET/TABLET LANDSCAPE OPTIMIZATION */
@media screen and (max-width: 1400px) { 
    /* Adjusting navbar padding and Portfolio page carousel for screen in between table and laptop */
    .navbar-elements .navbar-collapse {
        padding-left: 160px;
    }
    .carousel-wrapper #previous, .carousel-wrapper #nextbutton {
        height: 810px !important;
        padding: 10px !important;
    }
    .carousel-wrapper .col-lg-12 {
        overflow: hidden !important;
    }
    .carousel-wrapper .carousel-interactivity {
        right: 12%;
        max-width: 200px;
        top: 35%;
    }
    .carousel-wrapper img {
        width: 67% !important;
    }
    .portfolio-background {
        background-position-y: center !important;
    }
    .carousel-wrapper {
        margin-bottom: 550px !important;
    }
}
/* TABLET VIEW @MEDIA SETTINGS */
@media screen and (max-width: 1300px){
    /* Reducing navbar padding and styling the Portfolio carousel, including some settings for the text within modal */
    .navbar-elements .navbar-collapse {
        padding-left: 100px;
    }
    .carousel-wrapper #previous, .carousel-wrapper #nextbutton {
        height: 950px !important;
        padding: 0;
    }
    .carousel-wrapper .carousel-interactivity {
        right: 45%;
        max-width: 200px;
        top: 100%;
    }
    .carousel-wrapper img {
        width: 80% !important;
    }
    .carousel-wrapper ul {
        display: flex;
    }
    .portfolio-background {
        background-position-y: center !important; 
    }
    .carousel-wrapper {
        margin-bottom: 550px !important;
    }
    /* Modal text styling */
    #staticBackdrop .modal-slide-text {
        right: 1%;
        top: 17%;
        max-width: 200px;
    }
}
/* TABLET VIEW in between 1300px and 1150px */
@media screen and (max-width: 1150px) {
    /* Navbar */
    .navbar-elements .navbar-collapse {
        padding-left: 70px !important;
    }
    /* Carousel from Portfolio page */
    .carousel-wrapper .carousel-inner img {
        width: 65% !important;
    }
}
/* TABLET VIEW PORTRAIT */
@media screen and (max-width: 900px) {
    /* Navbar */
    .navbar-elements .navbar-collapse {
        padding-left: 0;
    }
    /*Services section Homepage */
    .services-image-container {
        padding: 0;
        padding-top: 20px;
    }
    .services-section-button {
        position:initial;
        margin: 0;
    }
    .btn-col {
        text-align: center;
        padding-bottom: 20px;
    }
    /* Testimonials section Homepage */
    .testimonials-section-wrapper {
        padding: 0;
        margin: 0;
    }
    .testimonial-first-col, .testimonial-second-col, .testimonial-third-col {
        height: 300px;
        padding: 0;
    }
    .testimonials-section-wrapper {
        background-color: white;
    }
    .testimonial-first-col {
        background-color: rgba(255, 227, 227, 0.922);
    }
    .g-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    /* Carousel from portfolio page */
    .carousel-wrapper #previous, .carousel-wrapper #nextbutton {
        height: 700px !important;
    }
    .portfolio-background {
        background-position-y: -200px !important;
    }
    #staticBackdrop .modal-slide-text {
        right: 25%;
        top: 86vh;
        max-width: 400px;
    }
}
/* MOBILE VIEW */
/* Many more adjustments were needed for mobile view than any other views smaller than desktop */
@media only screen and (max-width: 600px) {
    /* Navbar */
    .navbar-elements .navbar-collapse {
        padding-left: 0 !important;
    }
    .navbar-items a:hover {
        transform: none;
        color: black;  
    }
    /* Video Homepage */
    video {
        width: 100%;
        height: 100%;
    }
    .video-wrapper h1, .video-wrapper a {
        padding-top: 10x;
        padding-bottom: 10px;
    }
    /* Testimonials section Homepage */
    .testimonials-section-wrapper {
        padding: 0;
        margin: 0;
    }
    .testimonial-first-col, .testimonial-second-col, .testimonial-third-col {
        height: 300px;
        padding: 0;
    }
    .testimonials-section-wrapper {
        background-color: white;
    }
    .testimonial-first-col {
        background-color: rgba(255, 227, 227, 0.922);
    }
    .g-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    /*Services section Homepage */
    .services-image-container {
        padding: 0;
        padding-top: 20px;
    }
    .services-section-button {
        position:initial;
        margin: 0;
    }
    .btn-col {
        text-align: center;
        padding-bottom: 20px;
    }
    /* Looks section Homepage */
    .looks-presentation {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .looks-wrapper .card-body {
        font-size: 0.7em;
        top: 20%;
    }
    .looks-wrapper .card-body h3 {
        font-size:medium ;
    }
    /* Footer */
    .footer-wrapper {
        text-align: center;
    }
    #footer-nav-buttons {
        display: none;
    }
    .footer-wrapper .footer-col1-end {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-wrapper ul {
        display: flex;
        justify-content: center;
        margin-left: -30px;
    }
    .footer-wrapper li {
        padding-right: 10px;
    }
    .footer-address {   
        text-align: center;
    }
    /* Contact PAGE for mobile view */
    .contact-wrapper .card {
        width: 22em;
    }
    /* Portfolio part for mobile view*/
    .carousel-wrapper #previous, .carousel-wrapper #nextbutton {
        height: 500px !important;
        padding: 0 !important;
    }
    .carousel-wrapper .carousel-interactivity {
        right: 40% !important;
        max-width: 200px !important;
        top: 100% !important;
    }
    .carousel-wrapper ul {
        display: flex !important;
    }
    .carousel-wrapper .carousel-item img {
        width: 100% !important;
    }
    .portfolio-background {
        background-position-y: 0px !important;
    }
    .carousel-wrapper {
        margin-bottom: 400px !important;
    }
    #staticBackdrop .modal-slide-text {
        right: 13% !important;
        top: 75vh !important;
        max-width: 300px !important;
    }
}